<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MILS.Properties.Settings.Inventory_Ledger_NPMI_GSCConnectionString"
            connectionString="Data Source=172.16.90.218;Initial Catalog=Inventory_Ledger_NPMI_GSC;User ID=sa;Password=p@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>